{% extends 'base_layout.html' %}
{% block content %}
<div class="movie-detail">
    <div class="text-content">
        <h1>{{ movie.title }}</h1>
        <p>{{ movie.description }}</p>
        <div class="movie-meta">
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Actors:</strong> {{ movie.actors }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
        </div>
    </div>
    <div class="movie-image">
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" />
    </div>
</div>
{% endblock %}
