<!-- base layout included -->
{% extends 'base_layout.html' %}

<!-- Block content starts here -->
{% block content %}

<h1 style="text-align: center;">Movies List</h1>

<!-- for loop for rendring the posetr and title of the movies  -->
<div class="movies-list">
    {% for movie in movies %}
        <div class="movie-item">
            <a href="{% url 'movies:movie_detail' movie.slug %}">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" />
                <h1>{{ movie.title }}</h1>
            </a>
        </div>      
    {% endfor %}
</div>
{% endblock %}
